/* Estilos CSS para el formulario */
body, html {
    height: 100%;
}

body {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     background-image: url("https://www.portafolio.co/files/article_new_multimedia/uploads/2023/06/03/647baa3f48699.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f2f2f2;
    width: 100%;
    height: 85px;
}

header,footer {
    background-color: #099ff7;
    color: #1a1919;
    padding-bottom: 81px;
}
footer{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    text-align:center;
}
header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-size: contain;
    background-origin: content-box;
    border: 6px solid ;
    background-image: url("../imagenes/Hospital-logo-by-meisuseno-5.jpg");
    background-repeat: no-repeat;
}

li{
    text-align: center;
}
h1,
h2,
h4 {
    margin-top: 30px;
    text-align: center;
}

main {
    max-width: 500px;
    margin: auto;
}
li {
    background-position: center;
    list-style: none;
    
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 50%;
    margin-bottom: 8px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-family: sans-serif;
  background-position: center;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    background-color: #099ff7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
   
  
}

input[type="submit"]:hover {
    background-color: #099ff7;
   
}

span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #099ff7;
    background-color: #099ff7;


}

td {
    color: #fff;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabla-container {
    max-width: 80%;
    width: 100%;
    height: 400px;
}

.listado-container {
    max-width: 70%;
    width: 100%;
    height: 400px;
    
}
.boton-container {
    margin-block: 0;
}
a{
    text-decoration: none;
}
.listado-servicios a {
    color: #0f0f0f;
    font-size: 30px;
  text-align: center;
}

.listado-servicios li::marker {
    content: 🐾;
    text-align: center;
}
